################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/LabWodk_7/.vs/LabWodk_7/v15/Browse.VC.opendb
